# Firebase Storage
FIREBASE_BASE_URL=
FIREBASE_TOKEN=

# Supabase Storage
SUPABASE_PROJECT_URL=
SUPABASE_BUCKET=
SUPABASE_SERVICE_ROLE=

# Bubble Data API
BUBBLE_BASE_URL=
BUBBLE_API_TOKEN=
AJUSTE_CAMPANHA_ID=

# Senhas de acesso
USER_PASSWORD=
ADMIN_PASSWORD=

# Local Paths
CAMPAIGNS_DIR=
EXPORT_DIR=exportados
